.contact-wrapper {
  width: 1080px;
  height: 300px;
  margin-bottom: 10px;
  position: relative;
  @include breakpoint( tablet ) {
    width: 100%;
  }
}

.page-title {
  font-size: 20px;
  text-align: center;
}

form {
  width: 60%;
  margin: 0 auto;

  div {
    margin-bottom: 5.5px;
  }
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

input {
  &[type="text"], 
  &[type="email"] {
    border: 1px #31251c solid;
    border-radius: 5px;
    padding: 5px;
  }
}

textarea {
  border: 1px #31251c solid;
  border-radius: 5px;
  padding: 5px;
}

input {
  &[type="text"], 
  &[type="email"] {
    width: 100%;
    max-width: 200px;
  }
}

textarea {
  width: 100%;
  max-width: 600px;
  height: 1.875rem;
}

input[type="submit"] {
  border: none;
  cursor: pointer;
  line-height: 1.5;
}

.contact-wrapper::after { /* 下に灰色の横線を配置 */
  content: '';
  position: absolute;
  background-color: #d0d0d0;
  width: 1080px;
  height: 2px;
  top: 304px;
  @include breakpoint( tablet ) {
    width: 100%;
  }
}